<strong>Olá, {{student}}</strong>
<p> Nossa Equipe respondeu um pedido de auxílio seu, em {{date}}:</p>
<p>
  <strong>Pergunta:</strong>
  {{question}}
  <br/>
  <strong>Resposta:</strong>
  {{reply}}
  <br/>
  <br/>
  <smal>Caso ainda tenha alguma dúvida, entre em contato conosco</smal>

</p>
